<div id="<%= dom_id product %>">

  <div>
    <%= image_tag(product.image_url) %>
  </div>
  
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category %>
  </p>

</div>
