<p style="color: green"><%= notice %></p>

<%= search_form_for @q do |f| %>
    <%= f.label :category_cont %>
    <%= f.search_field :category_cont %>
<% end %>


<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
<br></br>
<div>
  <div>
    <%= link_to_prev_page @products, 'Página Anterior' %>
    <%= link_to_next_page @products, 'Siguiente página' %>
  </div>
</div>
